<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vil.pjt.mappers.AdminMapper">
	<select id="adminLogin" resultType="AdminVO">
		select *
		from tb_member2
		where id = #{id} and pw = #{pw}
	</select>
	
	<select id="adminOrderSelect" resultType="OrderVO">
		select * 
		from tb_order
		where no = #{no}
	</select>
	
	<sql id="adminOrderSearchPage">
		<if test="searchType != null">
			<if test="searchType == 'ORDER_NO'.toString()">
				and no = #{keyword}
			</if>
			<if test="searchType == 'MNO'.toString()">
				and mno like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'TOTALPRICE'.toString()">
				and totalprice like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
	<select id="adminOrderList" resultType="OrderVO">
		<![CDATA[
			select * from tb_order
			where no > 0			
		]]>
		
		<include refid="adminOrderSearchPage"></include>
		
		<![CDATA[			
			order by no desc, orderdate desc
			limit #{pageStart}, #{pageSize}
		]]>
	</select>
	<select id="adminOrderCount" resultType="int">
		<![CDATA[
			select count(*) 
			from tb_order
			where no > 0
		]]>
		<include refid="adminOrderSearchPage"></include>
	</select>
	
	<select id="adminOrderedItemSelect" resultType="OrderedItemVO">
		<![CDATA[
			select * from tb_ordereditem
			where order_no = #{orderNo}
		]]>
	</select>
	<select id="adminOrderedItemList" resultType="OrderedItemVO">
		<![CDATA[
			select * from tb_ordereditem
			where order_no = #{orderNo}
		]]>
	</select>
	
	<select id="adminMemberSelect" resultType="AdminVO">
		select * 
		from tb_member2
		where no = #{mno}
	</select>
	
	<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
														TEST
		@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
	<insert id="createBoardByBatch" parameterType="map">
		INSERT INTO tb_order(state, mno, orderdate, comment, totalprice)
			   VALUES
			   <foreach item="board" index="index" collection="list" open="" separator="," close="">
					(#{board.state}, #{board.mno}, NOW(), #{board.comment}, #{board.totalprice})
			   </foreach>		
	</insert>
	<insert id="createBoardByBatch2" parameterType="map">
		INSERT INTO tb_ordereditem(order_no, item_no, count, totalprice)
			   VALUES
			   <foreach item="board" index="index" collection="list" open="" separator="," close="">
					(#{board.orderNo}, #{board.itemNo}, #{board.count}, #{board.totalprice})
			   </foreach>		
	</insert>
</mapper>