#login-form {
	width : 800px;
	margin : 200px auto 50px auto;
}

table {
	width : 600px;
	margin : 50px auto 10px auto;
	border-spacing : 3px 50px;
	
	border-top: 2px dotted #abbfc9; 
    border-collapse: collapse;
}


td {
	height : 35px;
	margin : 10px;
	padding : 5px;
	border-bottom: 2px dotted #abbfc9;
}

/*아이디저장 오른쪽정렬*/
.right-align {
	text-align : right;
	margin-right : 100px;
	padding-bottom : 50px;
}

/*상단에 회원가입*/
#table-title {
	color : #5f90a8;
	text-align : center;
}

/*표에서 첫번째 열*/
#title {
	background : #cde4f2;
	text-align : center;
}
td input[type="text"], input[type="password"], input[type="email"], input[type="raido"] , input[type="date"] 
{ 
	height: 20px;	
}

/*중복확인 버튼*/
#user_id_checkBtn {
	margin : 0 auto;
	height :26px;	
	width : 80px;
	background : #4b778c;	
	color:#fff;
	border: none;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	border-radius:8px;
}

#user_id_checkBtn:hover {
	background : #5f90a8;
}

#button-set {
	width : 300px;
	text-align : center;
	margin : 0 auto;
}
/*가입하기 버튼*/
#submit-button {
	display : inline-block;
	width : 120px;
	margin : 10px auto;
	text-align : center;
}
button {
	margin : 0 auto;
	height : 40px;	
	width : 100px;
	background : #4b778c;	
	color:#fff;
	border: none;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	border-radius:10px;
}
button:hover {
	background : #5f90a8;
}

/*회원가입버튼*/
#register-button {
	display : inline-block;
	width : 120px;
	margin : 10px auto;
	text-align : center;
}
button {
	margin : 0 auto;
	height : 40px;	
	width : 100px;
	
	background : #4b778c;	
	color:#fff;
	border: none;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	border-radius:10px;
}
#gotohome {
	text-decoration: none;
}
button:hover {
	background : #5f90a8;
}
