/*상단에 주문내역*/
#table-title {
	color : #5f90a8;
	text-align : center;
}

/*마이페이지 카테고리*/
#mypage-title {
	color : #5f90a8;
	text-align : center;
}
#mypage-sub-title {
	display : inline-block;
	width : 200px;
	margin : 0px auto;
	text-align : center;
}
a:link {
	text-decoration: none; 
	color: #5f90a8;
}
a:visited {
	text-decoration: none; 
	color: #5f90a8;
}
a:hover {
	text-decoration: none; 
	color: #5f90a8;
	font-weight : bolder;
}

#register-form {
	width : 800px;
	margin : 200px auto 50px auto;
}


/*표에서 첫번째 열*/
#title {
	background : #cde4f2;
	text-align : center;
}

table, th, td {
	border-top: 2px dotted #abbfc9; 
	border-collapse : collapse;
}

table {
	width : 800px;
	margin : 30px auto 20px auto;
}


td {
	height : 35px;
	margin : 10px;
	padding : 5px;
	text-align : center;
}