html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
    min-width: 1900px;
}

/* body{
     margin-top: 0;
     margin-bottom: 0;
     margin-left: 0;
     margin-right: 0;
} */

/* body{
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
} */

#wrapper {
	font-family: Malgun Gothic, "맑은 고딕" , /*"NanumGothic","NanumBarunGothic",*/Helvetica, Arial, sans-serif,"AppleGothic","Apple Gothic","Noto Serif","NotoSansKR","NotoSans","맑은 고딕","돋음", "Dotum", sans-serif;
}

.container {
    width:95%;
    margin: 0 auto;
}

#subheader {
    width:100%;
    height:50px;
    background: #87ceeb;
    color : #4b778c;
    margin-top: -10px;
}

#subheader a {
    float:right;
    line-height: 50px;
    columns: #000000;
    text-decoration: none;
    margin-left: 30px;
    /* margin-top: 20px; */
}

/* .container>a:visited{
 color:black;
} */

a:visited {
    color:#4b778c;
}
#subheader a:hover {
    border-bottom: 2px solid #4b778c;
    margin-top: -6px;
}

/* slider */

/* .bx-wrapper {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    margin-top: 2%;
} */

.bx-wrapper {
    margin-top: 2.5%;
}

/* .bx-wrapper, .bx-viewport{
    border: none;
} */
.bx-wrapper .bx-pager {
    bottom:15px !important;
    margin-left: 50%;
    width: 50% !important;
}

.bx-wrapper .bx-controls-auto {
    bottom:15px !important;
    z-index: 1;
    margin-right: 20px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    width: 15px !important;
    height: 15px !important;
    border-radius: 20px !important;
}


/* .bx-wrapper .bx-pager.bx-default-pager a{
    width:15px;
    height:15px;
    border-radius: 20px;
}  */

.slider {
    /* width: 90%;
    height: 570px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 40px;
    position: relative; */
    width: 100%;
    height: 500px;
    /* height: 60%; */
    margin: 0 auto;
}

.slider>img {             
    height: 100%;
    width: 100%;
    position: absolute;
}

/* searching area styling */

#search {
    width: 50%;
    height: 110px;
    float: left;
    padding: 20px;
    margin-left: 13%;
}

.search-area {
    width: 650px;
    /* width: 70%; */
    height: 50px;
    background: #fff;
    border: 1px solid black;
    border-radius: 10px;
    /* float:left; */
    padding-left: 15px;
    margin-top: 27px;
    /* margin-top: 4%; */
}

.search-btn {
    width: 100px;
    height: 54px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #4b778c;
    border: 1px solid #4b778c;
    margin-left: -22px;
}

/* logo styling */
#main-header {
    width: 100%;
    height: 150px;
    background: #cde4f2;
    /* margin-top: 30px; */
}

#logo {
    width: 300px;
    /* width: 20%; */
    height: 150px;
    float:left;
    text-align: center;
    line-height: 150px;
}


#img_logo {
    width: 230px;
    /* width: 80%; */
    /* height: 115px; */
    height: 110px;
    /* height: 80%; */
    float:left;
    /* text-align: center; */
    /* line-height: 150px; */
    margin-left: 10%;
    margin-top: 10%;
}

#ist {
    color:black;
    font-size:45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: cursive;
}

#iist {
    color:black;
    font-size:35px;
    font-weight: bold;
    margin-left: 15px;
    font-family: cursive;
}

/* navigation bar style */
#navigation {
    width: 100%;
    height: 35px;
    background: #cde4f2;
    float: left;
    box-shadow:10px 14px 50px 2px #cde4f2;
}

#navigation>nav {
    /* width:1280px; */
    /* width: 100%; */
    width: auto;
    /* margin: 0 auto;
    margin-left: 27%; */
    /* margin: -15px 0 0 31.5%; */
    margin: -14px 0 0 31.5%;
}

#navigation>nav a {
    /* margin-left: 35px; */
    margin-left: 2%;
    /* color: white; */
    color:#4b778c;
    text-decoration: none;
    font-size: 15px;
}

#navigation>nav a:hover {
    color:#fff;
    transition: all .7s ease;
}

/* Category */
#heading-block {
    width:100%;
    height: auto;
    float: left;
    color: #4b778c;
    font-size:22px;
    margin-top: -30px;
}

#heading-block h2 {
    line-height: 35px;
    border-left: 20px solid #4b778c;
    padding-left: 10px;
}

/* Category box */
.catbox {
    width: 275px;
    height: 275px;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 20px 30px 0;
    font-weight: bold;
}

.catbox:hover span {
    color: #4b778c;
}

.catbox img {
    width: 100%;
    height: 100%;
    transition: all .5s ease;
}

.catbox:hover img {
    transform: scale(1.3, 1.3);
    transition: all .5s ease;
}

.catbox span {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    color:white;
    display:block;
    bottom: 30px;
    position: absolute;
    z-index: 999;
    text-align: center;
}

/* Product Styling */
.prod-box {
    width: 275px;
    height: 343px;
    overflow: hidden;
    margin: 0 20px 30px 0;
    position: relative;
    float:left;
}

.prod-box>img {
    width:100%;
    height:100%;
}

.prod-trans {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: all .5s ease;
}

.prod-box:hover .prod-trans {
    opacity: 1;
    transition: all .5s ease;
}

.prod-feature {
    text-align: center;
    margin-top: -150px;
    transition: all .5s ease;
}

.prod-feature p {
    /* color: #00eb00; */
    color:#fff;
    font-weight: bold;
    font-family: Malgun Gothic, "맑은 고딕" , /*"NanumGothic","NanumBarunGothic",*/Helvetica, Arial, sans-serif,"AppleGothic","Apple Gothic","Noto Serif","NotoSansKR","NotoSans","맑은 고딕","돋음", "Dotum", sans-serif;
}

.prod-box:hover .prod-feature {
    margin-top: 150px;
    transition: all .5s ease;
}

.prod-feature input {
    width: 150px;
    height: 35px;
    font-size: 17px;
}


/* footer */

#footer{
    clear: both;
    width:100%;
    height: auto;
    background: #efefef;
    float: left;
}

.footer_sub {
    position: relative;
    width: 50%;
    float: left;
    left: 25%;
    margin-top: 30px;
}

.footer_sub a {
    text-decoration: none;
    margin-left: 40px;
    /* padding: 10px 10px; */
}

.footer_sub a:visited {
    color: #000000;
}

.footer_sub a:hover {
    color: #fff;
}

/* product */
.product_container{
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}


/* Columns */
.left-column {
    width: 65%;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
  }
   
  .right-column {
    width: 35%;
    margin-top: 60px;
  }
   
   
  /* Left Column */
  .left-column img {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
   
  .left-column img.active {
    opacity: 1;
  }
   
   
  /* Right Column */
   
  /* Product Description */
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 18px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }
   
  /* Product Configuration */
  .product-color span,
  .cable-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
  }
   
  /* Product Color */
  .product-color {
    margin-bottom: 30px;
  }
   
  .color-choose div {
    display: inline-block;
  }
   
  .color-choose input[type="radio"] {
    display: none;
  }
   
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
   
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
   
  .color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
  }
  .color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #323232;
  }
   
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(img/icon.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
   
  /* Cable Configuration */
  /* .cable-choose {
    margin-bottom: 20px;
  }
   
  .cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }
   
  .cable-choose button:hover,
  .cable-choose button:active,
  .cable-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
  }
   
  .cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
   
  .cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }
  .cable-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }
   

  .product-price {
    display: flex;
    align-items: center;
  }
   
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
   
  .cart-btn {
    display: inline-block;
    background-color: #0087e6;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }
   

  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }

