#wrapper{font-family: Malgun Gothic, "맑은 고딕" , /*"NanumGothic","NanumBarunGothic",*/Helvetica, Arial, sans-serif,"AppleGothic","Apple Gothic","Noto Serif","NotoSansKR","NotoSans","맑은 고딕","돋음", "Dotum", sans-serif;}
.container{
    width:95%;
    margin: 0 auto;
}

#subheader{
    width:100%;
    height:40px;
    background: #87ceeb;
    color : #4b778c;
    margin-top: -10px;
}

#subheader a{
    float:right;
    line-height: 40px;
    columns: #000000;
    text-decoration: none;
    margin-left: 30px;
    /* margin-top: 20px; */
}

/* .container>a:visited{
 color:black;
} */

a:visited{
    color:#4b778c;
}
#subheader a:hover{
    border-bottom: 2px solid #4b778c;
    margin-top: -6px;
}

/* slider */

/* .bx-wrapper {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    margin-top: 2%;
} */

.bx-wrapper{
    margin-top: 2.5%;
}

/* .bx-wrapper, .bx-viewport{
    border: none;
} */
.bx-wrapper .bx-pager{
    bottom:15px !important;
    margin-left: 50%;
}

.bx-wrapper .bx-controls-auto{
    bottom:15px !important;
    z-index: 1;
    margin-right: 20px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    width: 15px !important;
    height: 15px !important;
    border-radius: 20px !important;
}

/* .bx-wrapper .bx-pager.bx-default-pager a{
    width:15px;
    height:15px;
    border-radius: 20px;
}  */

.slider{
    /* width: 90%;
    height: 570px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 40px;
    position: relative; */
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.slider>img{             
    height: 100%;
    width: 100%;
    position: absolute;
}

/* searching area styling */

#search{
    width: 50%;
    height: 110px;
    float: left;
    padding: 20px;
    margin-left: 13%;
}

.search-area{
    width: 650px;
    height: 50px;
    background: #fff;
    border: 1px solid black;
    border-radius: 10px;
    /* float:left; */
    padding-left: 15px;
    margin-top: 27px;
}

.search-btn{
    width: 100px;
    height: 54px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #4b778c;
    border: 1px solid #4b778c;
    margin-left: -22px;
}

/* logo styling */
#main-header{
    width: 100%;
    height: 150px;
    background: #cde4f2;
    /* margin-top: 30px; */
}

/* #logo{
    width: 300px;
    height: 150px;
    float:left;
    text-align: center;
    line-height: 150px;
} */


#img_logo{
    width: 230px;
    height: 115px;
    float:left;
    /* text-align: center; */
    /* line-height: 150px; */
    margin-left: 5%;
    margin-top: 1.8%;
    
    
}

#ist{
    color:black;
    font-size:45px;
    font-weight: bold;
    margin-left: 15px;
    font-family: cursive;
}

#iist{
    color:black;
    font-size:35px;
    font-weight: bold;
    margin-left: 15px;
    font-family: cursive;
}

/* navigation bar style */
#navigation{
    width: 100%;
    height: 35px;
    background: #cde4f2;
    float: left;
    box-shadow:10px 14px 50px 2px #cde4f2;
}

#navigation>nav{
    /* width:1280px; */
    width: 100%;
    /* margin: 0 auto;
    margin-left: 27%; */
    margin: -15px 0 0 31%;
}

#navigation>nav a{
    margin-left: 35px;
    /* color: white; */
    color:#4b778c;
    text-decoration: none;
}

#navigation>nav a:hover{
    color:#fff;
    transition: all .7s ease;
}

/* Category */
#heading-block{
    width:100%;
    height: auto;
    float: left;
    color: #4b778c;
    font-size:22px;
    margin-top: -30px;
}

#heading-block h2{
    line-height: 35px;
    border-left: 20px solid #4b778c;
    padding-left: 10px;
}

/* Category box */
.catbox{
    width: 278px;
    height: 278px;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 20px 30px 0;
    font-weight: bold;
}

.catbox:hover span{
    color: #4b778c;
}

.catbox img{
    width: 100%;
    height: 100%;
    transition: all .5s ease;
}

.catbox:hover img{
    transform: scale(1.3, 1.3);
    transition: all .5s ease;
}

.catbox span{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    color:white;
    display:block;
    bottom: 30px;
    position: absolute;
    z-index: 999;
    text-align: center;
}

/* Product Styling */
.prod-box{
    width: 278px;
    height: 343px;
    overflow: hidden;
    margin: 0 20px 30px 0;
    position: relative;
    float:left;
}

.prod-box>img{
    width:100%;
    height:100%;
}

.prod-trans{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: all .5s ease;
}

.prod-box:hover .prod-trans{
    opacity: 1;
    transition: all .5s ease;
}

.prod-feature{
    text-align: center;
    margin-top: -150px;
    transition: all .5s ease;
}

.prod-feature p{
    /* color: #00eb00; */
    color:#fff;
    font-weight: bold;
    font-family: Malgun Gothic, "맑은 고딕" , /*"NanumGothic","NanumBarunGothic",*/Helvetica, Arial, sans-serif,"AppleGothic","Apple Gothic","Noto Serif","NotoSansKR","NotoSans","맑은 고딕","돋음", "Dotum", sans-serif;
}

.prod-box:hover .prod-feature{
    margin-top: 150px;
    transition: all .5s ease;
}

.prod-feature input{
    width: 150px;
    height: 35px;
    font-size: 17px;
}